.user-index
  = render 'shared/header'

  .user-index__box
    -@users.each do |user|
      .user-index__box__select
        %ul
          %li
            - if user.image.attached?
              = image_tag(user.image)
          %li
            = link_to user.name, user_path(user.id)
          %li
            = link_to user.prefecture.name, root_path
