.article-view
  .article-view__box
    .article-view__box__title
      %p
        titleを表示
    .article-view__box__image
      %p
        画像を表示
    .article-view__box__text
      %p
        textを表示
    .article-view__box__edit
      %ul
        %li
          = link_to '編集', root_path
        %li
          = link_to '削除', root_path
