.main-header
  .main-header__image
  .main-header__menu-box
    %ul
      %li
        %p
          GPS-tweet
      %li
        %p
          = link_to '投稿する', new_article_path
      %li
        %p
          = link_to '新規登録', new_user_registration_path
      %li
        %p
          = link_to 'ログイン', new_user_session_path