.main
  .main__box
    = image_tag('top-bg.jpg', class: "top-image")
    = link_to root_path, class: "top-text" do
      Welcome to<br>GPS-Tweet
  .main__curtain
    .main__curtain__top
    %span.main__curtain__line
    .main__curtain__bottom
