.log-in {
  height: calc(100% - 90px);
  width: 100%;
  background-image: asset-url("mains-top-bg.jpg");
  background-size: cover;
  background-position: 100% 100%;
  &__box {
    height: 70%;
    width: 60%;
    margin: 0 auto;
    p {
      display: block;
      font-size: 40px;
      text-align: center;
      color: #fff;
      margin-bottom: 60px;
    }
    &__tab {
      height: 15%;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #000;
      display: flex;
      &__list {
        height: 100%;
        width: 50%;
        font-size: 25px;
        text-align: center;
        line-height: 76px;
        background-color: #fff;
      }
      &__list.active {
        color: #fff;
        background-color: #000;
      }
    }
    &__sign-up {
      height: 85%;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #000;
      position: relative;
      background-color: #fff;
      display: none;
      &__form {
        height: 100%;
        width: 100%;
        &__name {
          width: 70%;
          display: flex;
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translate(-50%,-50%);
          .icon-user {
            height: 28px;
            width: 30px;
            padding: 5px;
            background-color: #4444ff;
            text-align: center;
            line-height: 30px;
            border: 2px solid #3333ff;
          }
          input {
            width: 100%;
            outline: none;
          }
        }
        &__email {
          width: 70%;
          display: flex;
          position: absolute;
          top: 25%;
          left: 50%;
          transform: translate(-50%,-50%);
          .icon-email {
            height: 28px;
            width: 30px;
            padding: 5px;
            background-color: #4444ff;
            text-align: center;
            line-height: 30px;
            border: 2px solid #3333ff;
          }
          input {
            width: 100%;
            outline: none;
          }
        }
        &__password {
          width: 70%;
          display: flex;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%,-50%);
          .icon-password {
            height: 28px;
            width: 30px;
            padding: 5px;
            background-color: #4444ff;
            text-align: center;
            line-height: 30px;
            border: 2px solid #3333ff;
          }
          input {
            width: 100%;
            outline: none;
          }
        }
        &__password-confirmation {
          width: 70%;
          display: flex;
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%,-50%);
          .icon-password {
            height: 28px;
            width: 30px;
            padding: 5px;
            background-color: #4444ff;
            text-align: center;
            line-height: 30px;
            border: 2px solid #3333ff;
          }
          input {
            width: 100%;
            outline: none;
          }
        }
        &__sex {
          position: absolute;
          top: 70%;
          left: 24%;
          transform: translate(-50%,-50%);
          display: flex;
          .select-label {
            width: 50%;
            text-align: center;
            line-height: 30px;
          }
          .select-default {
            height: 30px;
            width: 100%;
            outline: none;
          }
        }
        &__age {
          display: flex;
          position: absolute;
          top: 70%;
          left: 45%;
          transform: translate(-50%,-50%);
          .select-label {
            width: 50%;
            text-align: center;
            line-height: 30px;
          }
          .select-default {
            height: 30px;
            width: 100%;
            outline: none;
          }
        }
        &__prefecture {
          width: 35%;
          display: flex;
          position: absolute;
          top: 70%;
          left: 75%;
          transform: translate(-50%,-50%);
          .select-label {
            width: 30%;
            text-align: center;
            line-height: 30px;
          }
          .select-default {
            height: 30px;
            width: 100%;
            outline: none;
          }
        }
        &__btn {
          position: absolute;
          top: 75%;
          left: 31.5%;
          transform: translate(-50%,-50%);
          .log-in-btn {
            height: 50px;
            width: 140px;
            color: #fff;
            outline: none;
            padding: 0;
            cursor: pointer;
            background-color: #4444ff;
            border: 2px solid #3333ff;
            border-radius: 20px;
            box-shadow: 0 5px #0000ff;
          }
          .log-in-btn:active {
            height: 50px;
            width: 140px;
            color: #fff;
            padding: 0;
            cursor: pointer;
            background-color: #4444ff;
            border: 2px solid #3333ff;
            border-radius: 20px;
            box-shadow: 0 5px #0000ff;
            animation: btn-push 0.05s ease-in both;
            @keyframes btn-push {
              0% {}
              100% {
                transform: translateY(5px);
                box-shadow: none;
              }
            }
          }
        }
        &__test-log-in {
          position: absolute;
          top: 75%;
          left: 70%;
          transform: translate(-50%,-50%);
          &__submit {
            height: 100%;
            #test-user-log-in-btn {
              height: 50px;

              color: #fff;
              font-weight: bold;
              padding: 0 20px;
              outline: none;
              cursor: pointer;
              background-color: #22ee22;
              border: 2px solid #33cc33;
              border-radius: 20px;
              box-shadow: 0 5px #33cc33;
            }
            #test-user-log-in-btn:active {
              height: 50px;

              color: #fff;
              font-weight: bold;
              padding: 0 20px;
              cursor: pointer;
              background-color: #00ff00;
              border: 2px solid #33cc33;
              border-radius: 20px;
              box-shadow: 0 5px #33cc33;
              animation: btn-push 0.05s ease-in both;
              @keyframes btn-push {
                0% {}
                100% {
                  transform: translateY(5px);
                  box-shadow: none;
                }
              }
            }
          }
        }
        &__sign-up {
          position: absolute;
          top: 85%;
          left: 50%;
          transform: translate(-50%,-50%);
          .sign-up-submit {
            height: 50px;
            width: 140px;
            color: #fff;
            outline: none;
            padding: 0;
            cursor: pointer;
            background-color: #4444ff;
            border: 2px solid #3333ff;
            border-radius: 20px;
            box-shadow: 0 5px #0000ff;
          }
          .sign-up-submit:active {
            height: 50px;
            width: 140px;
            color: #fff;
            padding: 0;
            cursor: pointer;
            background-color: #4444ff;
            border: 2px solid #3333ff;
            border-radius: 20px;
            box-shadow: 0 5px #0000ff;
            animation: btn-push 0.05s ease-in both;
            @keyframes btn-push {
              0% {}
              100% {
                transform: translateY(5px);
                box-shadow: none;
              }
            }
          }
        }
      }
    }
    &__log-in {
      height: 85%;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #000;
      position: relative;
      background-color: #fff;
      &__form {
        height: 100%;
        width: 100%;
        &__email {
          width: 70%;
          display: flex;
          position: absolute;
          top: 25%;
          left: 50%;
          transform: translate(-50%,-50%);
          .icon-email {
            height: 28px;
            width: 30px;
            padding: 5px;
            background-color: #4444ff;
            text-align: center;
            line-height: 30px;
            border: 2px solid #3333ff;
          }
          input {
            width: 100%;
            outline: none;
          }
        }
        &__password {
          width: 70%;
          display: flex;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%,-50%);
          .icon-password {
            height: 28px;
            width: 30px;
            padding: 5px;
            background-color: #4444ff;
            text-align: center;
            line-height: 30px;
            border: 2px solid #3333ff;
          }
          input {
            width: 100%;
            outline: none;
          }
        }
        &__btn {
          position: absolute;
          top: 75%;
          left: 31.5%;
          transform: translate(-50%,-50%);
          .log-in-btn {
            height: 50px;
            width: 140px;
            color: #fff;
            outline: none;
            padding: 0;
            cursor: pointer;
            background-color: #4444ff;
            border: 2px solid #3333ff;
            border-radius: 20px;
            box-shadow: 0 5px #0000ff;
          }
          .log-in-btn:active {
            height: 50px;
            width: 140px;
            color: #fff;
            padding: 0;
            cursor: pointer;
            background-color: #4444ff;
            border: 2px solid #3333ff;
            border-radius: 20px;
            box-shadow: 0 5px #0000ff;
            animation: btn-push 0.05s ease-in both;
            @keyframes btn-push {
              0% {}
              100% {
                transform: translateY(5px);
                box-shadow: none;
              }
            }
          }
        }
        &__test-log-in {
          position: absolute;
          top: 75%;
          left: 70%;
          transform: translate(-50%,-50%);
          &__submit {
            height: 100%;
            #test-user-log-in-btn {
              height: 50px;

              color: #fff;
              font-weight: bold;
              padding: 0 20px;
              outline: none;
              cursor: pointer;
              background-color: #22ee22;
              border: 2px solid #33cc33;
              border-radius: 20px;
              box-shadow: 0 5px #33cc33;
            }
            #test-user-log-in-btn:active {
              height: 50px;

              color: #fff;
              font-weight: bold;
              padding: 0 20px;
              cursor: pointer;
              background-color: #00ff00;
              border: 2px solid #33cc33;
              border-radius: 20px;
              box-shadow: 0 5px #33cc33;
              animation: btn-push 0.05s ease-in both;
              @keyframes btn-push {
                0% {}
                100% {
                  transform: translateY(5px);
                  box-shadow: none;
                }
              }
            }
          }
        }
        &__sign-up {
          position: absolute;
          top: 85%;
          left: 50%;
          transform: translate(-50%,-50%);
          .sign-up-submit {
            height: 50px;
            width: 140px;
            color: #fff;
            outline: none;
            padding: 0;
            cursor: pointer;
            background-color: #4444ff;
            border: 2px solid #3333ff;
            border-radius: 20px;
            box-shadow: 0 5px #0000ff;
          }
          .sign-up-submit:active {
            height: 50px;
            width: 140px;
            color: #fff;
            padding: 0;
            cursor: pointer;
            background-color: #4444ff;
            border: 2px solid #3333ff;
            border-radius: 20px;
            box-shadow: 0 5px #0000ff;
            animation: btn-push 0.05s ease-in both;
            @keyframes btn-push {
              0% {}
              100% {
                transform: translateY(5px);
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}