#slide-lists {
  position: relative;
  width: 100%;
}

#slide-list {
  position: absolute;
  top: 0;
  width: 100%;
}

#slide-list:not(:first-child) {
  display: none;
}

#button ul li a {
  text-indent: -9999px;
  text-decoration: none;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #eee;
}

#button ul li .target {
  background: #999;
}

#image-btn img.target {
  border: 1px solid #ff0000;
}

#button {
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
}
.image-buttons {
  display: flex;
  li:not(:first-child) {
    margin-left: 20px;
  }
}