.user-index__box {
  height: 100%;
  width: 100%;
  &__title {
    height: 60px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #ff0000;
    &__text {
      font-size: 30px;
      text-align: center;
      line-height: 60px;
    }
  }
  &__users {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0;
    &__list {
      height: 100%;
      width: 30%;
      margin: 15px;
      border: 1px solid #eee;
      border-radius: 20px;
      &__main {
        display: inline-block;
        height: 100%;
        width: 100%;
        color: #000;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      &__main:hover {
        animation: link-bg 0.2s linear both;
        @keyframes link-bg {
          0% {}
          100% {background-color: aquamarine;}
        }
      }
      &__image {
        height: 150px;
        width: 150px;
        margin: 0 auto;
        padding: 5px 0;
        .user-image {
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
      }
      &__image:hover {
        height: 150px;
        width: 150px;
        margin: 0 auto;
        padding: 5px 0;
       
      }
      &__name {
        font-size: 20px;
        text-align: center;
        padding: 5px 0;
        border-bottom: 2px solid #ff0000;;
      }
      &__sub {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        &__sex {
          display: inline-block;
          height: 100%;
          width: 100%;
          color: #000;
          border-bottom-left-radius: 20px;
          &__text {
            line-height: 40px;
            text-align: center;
          }
        }
        &__sex:hover {
          animation: link-bg 0.2s linear both;
          @keyframes link-bg {
            0% {}
            100% {background-color: aquamarine;}
          }
        }
        &__age {
          display: inline-block;
          height: 100%;
          width: 100%;
          color: #000;
          &__text {
            line-height: 40px;
            text-align: center;
          }
        }
        &__age:hover {
          animation: link-bg 0.2s linear both;
          @keyframes link-bg {
            0% {}
            100% {background-color: aquamarine;}
          }
        }
        &__prefecture {
          display: inline-block;
          height: 100%;
          width: 100%;
          color: #000;
          border-bottom-right-radius: 20px;
          &__text {
            line-height: 40px;
            text-align: center;
          }
        }
        &__prefecture:hover {
          animation: link-bg 0.2s linear both;
          @keyframes link-bg {
            0% {}
            100% {background-color: aquamarine;}
          }
        }
      }
    }
    &__list:hover {
      animation: list-shadow 0.2s linear both;
      @keyframes list-shadow {
        0% {
          transform: translateY(0);
          background-color: #fff;
        }
        100% {
          transform: translateY(-5px);
          background-color: #fffeef;
          box-shadow: 0 3px 6px #333;
        }
      }
      .user-image {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        animation: user-image 0.2s linear both;
        @keyframes user-image {
          0% {
          }
          100% {
            box-shadow: 0 2px 10px #333;
          }
        }
      }
    }
  }
  &__paginate {
    width: 80%;
    margin: 0 auto 10px;
    display: flex;
  }
}