@import 'reset';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'article';
@import 'header';
@import 'awesome-icon';
@import 'map';
@import 'user';
@import 'slide';
@import 'pagination';
@import 'step1';
@import 'main';
@import 'user-show';
@import 'user-edit';
@import 'log-in';

@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru|Varela+Round&display=swap');
 
body {
  font-family: 'Varela Round', 'Kosugi Maru', sans-serif;
}

body > div {
  padding: 90px 0 0 0;
}

input {
  cursor: text;
}